@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Parkinsans:wght@300..800&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Parkinsans:wght@300..800&family=Silkscreen:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Goldman&family=Monoton&family=Parkinsans:wght@300..800&family=Silkscreen:wght@400;700&family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-shadow: border-box;
    font-family: sans-serif;
    color: black;
}

html,
body {
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    /* background-color: grey; */
    /* color: white; */
}

.page0 {
    background: linear-gradient(132deg, rgb(3, 148, 108) 0.00%, rgb(33, 35, 34) 100.00%);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.n-config {
    display: inline-block;
    padding: 150px 20vw;
    background: rgba(255, 255, 255, 0.123);
    backdrop-filter: blur(35px);
    -webkit-backdrop-filter: blur(35px);
    text-align: center;
    margin: 13vh 21vw;
    border-radius: 10px;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.5);
    position: fixed;
}

.n-config h3 {
    /* background-color: red; */
    font-size: 20px;
    width: 100%;
    margin-bottom: 40px;
    color: white;
    font-family: monospace;
    font-weight: 100;
}

.n-config input {
    height: 7vh;
    width: 18vw;
    border-radius: 10px;
    border: none;
    background-color: rgba(0, 0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    text-align: center;
    font-size: 25px;
    font-style: italic;
    color: whitesmoke;
    font-family: monospace;
    text-transform: uppercase;
    letter-spacing: 2.6px;
    transition: transform 0.4s ease-in-out;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.195);
}
.n-config input::placeholder{
    color: white;
    opacity: 1;
    font-size: 15px;
    font-style: normal;
}
.n-config input:hover {
    cursor: pointer;
    transform: scale(1.2);
}

.n-config button {
    margin-top: 7vh;
    padding: 12px 30px;
    border-radius: 10px;
    border: none;
    box-shadow: 0 16px 30px rgba(0, 0, 0, 0.195);
    background-color: palevioletred;
    font-size: 18px;
    transition: transform 0.3s ease-in-out;

}

.n-config button  {
    color: white;
    text-decoration: none;
    letter-spacing: 2px;

}

.n-config button:hover {
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0 10px 40px rgba(236, 97, 97, 0.84);
    /* background-color: blue; */

}
.page1{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.586);
    position: relative;
}
.video video{
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    z-index: 0;
}
.page1 h1{
    padding-left: 22px;
    padding-top: 13px;
    font-weight:bolder ;
    font-size: 45px;
    font-style: italic;
    color: rgb(255, 0, 128);
    position: absolute;
    z-index: 10;
    font-family: "Monoton", serif;
    letter-spacing: 2.1px;

}
.page1 h3{
    padding-left: 22px;
    font-size: 30px;
    font-weight: 400;
    font-style: italic;
    color: white;
    font-family: monospace;
    position: absolute;
    z-index: 10;
    top: 10.5%;
    /* position: fixed; */
}
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #0d0121;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    display: none;
}

#loader img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    /* background-color: transparent; */
}
.jarvis{
    width: 40%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.195);
    position: absolute;
    margin: 10vh 30vw;
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
    box-shadow: 0 6px 23px rgba(184, 11, 103, 0.504); 
    border-radius: 10px;
   
   
}
.jarvis img{
    height: 26vh;
    border-radius: 50%;
    box-shadow: 0px 5px 20px rgba(46, 45, 45, 0.395);
    margin-bottom: 50%;
}
.jarvis h2{
    color: white;
    position: absolute;
    margin-bottom: 3%;
    font-size: 17px;
    font-family: monospace;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.jarvis span{
    color: aqua;
    font-size: 45px;
    font-family: "Goldman", serif;
    font-weight: 400;
    font-style: italic;

}
#voice-img{
    height: 130px;
     position: absolute;
    margin-top: 80%;
    display: none;
}
.jarvis button{
    position: absolute;
    height: 45px;
    /* width: 18vw; */
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, rgb(205, 13, 141),rgb(38, 38, 237));
    border: none;
    /* font-size: 20px; */
    border-radius: 15px;
    margin-top: 30%;
    transition: transform 0.3s ease-in-out;

}
#content{
    width: 20vw;
    font-size: 25px;
    color: white;
    font-family: "Silkscreen", serif;
    font-weight: 100;
    margin-right: 5%;
}
.jarvis button i{
    /* height: 30px; */
    margin-bottom: 0%;
    font-size: 30px;
    color: white;
    padding-left: 15px;
}
.jarvis button:hover{
   cursor: pointer;
   transform: scale(1.1);
   box-shadow: 4px 6px 20px rgba(167, 103, 132, 0.84),4px 6px 40px rgb(66, 66, 233);
}

#transcript{
    background-color: rgba(0, 0, 0, 0.31);
    height: 10%;
    width: 60%;
    position: absolute;
    margin-top: 70%;
    border-radius: 10px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: monospace;
    font-size: 20px;
}
